
textarea{
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 12px 20px;
    color: #000 !important;
    caret-color: red;
    resize: none;
    flex: 3;
    background-color: white;
}


.editor-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.heading{
    font-size: 2rem;
    font-weight: 500;
    flex: 0;
    color: #000;
    background-color: #ddd;
}